@use "globals" as *;

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 2rem;
  background-color: $black;
  
  .logo-large {
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    
    img {
      width: 150px;
      height: auto;
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 450px;
    
    input {
      width: 100%;
      padding: 1.2rem 2rem;
      border-radius: 50px;
      border: none;
      background-color: #e6dada;
      font-size: 1.2rem;
      color: $black;
      outline: none;
      font-family: $texto-general;
      
      &::placeholder {
        color: #333;
        opacity: 0.8;
      }
      
      &:focus {
        background-color: lighten(#e6dada, 5%);
      }
    }
    
    button {
      width: 40%;
      align-self: center;
      padding: 1rem;
      border-radius: 50px;
      border: none;
      background-color: $color;
      font-weight: bold;
      font-size: 1.1rem;
      cursor: pointer;
      margin-top: 1rem;
      font-family: $texto-general;
      color: $black;
      transition: opacity 0.3s;
      
      &:hover {
        opacity: 0.9;
      }
    }
  }
  
  .register-link {
    margin-top: 3rem;
    font-size: 1.1rem;
    color: $white;
    font-family: $texto-general;
    font-weight: bold;
    
    strong {
        font-weight: bold;
        cursor: pointer;
        &:hover { text-decoration: underline; }
    }
  }
}
