
$black: #000000;
$black-2: #000000;
$color: #ffcd05;
$color-letra: #5ad1de;
$color-letra-2: #3452e6;
$fondo: #f7f9fd;
$white: #ffffff;


$nombre-articulo: "ADLaM Display", cursive;
$texto1: "Agency FB", sans-serif;
$texto-general: "Abel", sans-serif;

$número: 0rem;

$base-spacing: 1rem;
